{{#each products}}
<div class="card mt-3 productCard" style="width: 12rem;">
  <div class="card-body">
    <h5 class="card-title" id="name">{{name}}</h5>
    <h5 id="input-title" class="card-title d-none">
      <b>Título:</b><input name="title" type="text" class="form-control">
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Precio:</b><div id="price">${{price}}</div>
      <input id="input-price" name="price" type="number" class="form-control d-none">
    </li>
      
    <li class="list-group-item">
      <b>Procedencia:</b><div id="procedence">{{procedence}}</div>
      <input id="input-procedence" name="procedence" type="text" class="form-control d-none">
    </li>

    <li class="list-group-item">
      <b>Descripción:</b><div id="description">{{description}}</div>
      <input id="input-description" name="description" type="text" class="form-control d-none">
    </li>

  </ul>
  <div class="card-body">
    <button id="edit-btn" class="card-link edit-btn">Editar</button>
    <button id="done-btn" class="card-link done-btn d-none" value="{{id}}">Hecho</button>
  </div>
</div>
{{/each}}

<script src="/edit-product.js"></script>